<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="POST" th:action="@{/add}" th:object="${person}">
    <table border="1">
        <tr>
            <td>id</td>
            <td>name</td>
            <td>surname</td>
            <td>email</td>
        </tr>
        <tr>
            <td th:text="${person.getId()}"></td>
            <td><input type="text" th:field="*{name}" id="name"/></td>
            <td><input type="text" th:field="*{surname}" id="surname"/></td>
            <td><input type="text" th:field="*{email}" id="email"/></td>
        </tr>
    </table>

    </br>

    <input type="submit" th:value="Create">
    <input type="reset" th:value="Reset">
</form>


</body>
</html>