<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DataControl</title>
</head>
<body>

<p>DataControl</p>


</br>

<div>
    <table border="1">
        <tr>
            <td>id</td>
            <td>name</td>
            <td>surname</td>
            <td>email</td>
            <td colspan="2"><form method="get" th:action="@{/DataControl/add}">
                <input type="submit" th:value="Add">
            </form></td>
        </tr>

        <tr th:each="personb : ${persons}">
            <td th:text="${personb.getId()}" ></td>
            <td th:text="${personb.getName()}"></td>
            <td th:text="${personb.getSurname()}"></td>
            <td th:text="${personb.getEmail()}"></td>
            <td><form method="get" th:action="@{/DataControl/update/{id}(id=${personb.getId()})}">
                <input th:value="Edit" type="submit">
            </form>
            </td>
            <td>
                <form method="post" th:action="@{/DataControl/delete/{id}(id=${personb.getId()})}">
                    <input th:value="Delete" type="submit">
                </form>
            </td>
    </table>
</div>

</body>
</html>