<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DataControl</title>
</head>
<body>

<p>DataControl</p>
<div>
    <table border="1">
        <tr>
            <td>id</td>
            <td>name</td>
            <td>surname</td>
            <td>email</td>
        </tr>

        <tr th:each="personb : ${persons}">
            <td th:text="${personb.getId()}" ></td>
            <td th:text="${personb.getName()}"></td>
            <td th:text="${personb.getSurname()}"></td>
            <td th:text="${personb.getEmail()}"></td>
            <td><a href="/DataControl/update">Edit</a></td>
            <td>
                <form method="post" th:action="@{/DataControl/delete/{id}(id=${personb.getId()})}">
                    <input th:value="Delete" type="submit">
                </form>
            </td>
    </table>
    <a href="DataControl/add">New</a>
</div>

</body>
</html>